
body, html {
  width: 100vw;
  height: 100vh;
  background: #fefefe;
}

#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

main {
  // overflow-y: auto;
}

header {
  background: #f8f8f8;
}

ul, ol {
  list-style-position: outside;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

pre {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0.4rem;
}
