
@include margin-variant(4, $unit-4);
@include padding-variant(4, $unit-4);

.no-overflow { overflow: hidden; }
.scroll { overflow-y: auto; }
.flex { flex: 1; }

.d-flex-v {
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
}
